{% extends "base.html" %}
{% block content %}
<div style="text-align: center;
    padding: 2% 30% 2%;" class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Health & Medicine
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <ul class="list-group list-group-flush card-body">
                                {% for journal in health %}
                                        <li class="list-group-item">
                                            <a href="{% url 'journalpage' journal %}">
                                                {{journal.title}}
                                            </a>
                                        </li>
                                {% endfor %}
        </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Humanities
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <ul class="list-group list-group-flush card-body">
                               {% for journal in humanities %}
                                        <li class="list-group-item">
                                            <a href="{% url 'journalpage' journal %}">
                                                {{journal.title}}
                                            </a>
                                        </li>
                               {% endfor %}
        </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Mathematical Sciences
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <ul class="list-group list-group-flush card-body">
                               {% for journal in mathematics %}
                                        <li class="list-group-item">
                                            <a href="{% url 'journalpage' journal %}">
                                                {{journal.title}}
                                            </a>
                                        </li>
                                {% endfor %}
        </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          Social Sciences
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <ul class="list-group list-group-flush card-body">
                               {% for journal in social_sciences %}
                                        <li class="list-group-item">
                                            <a href="{% url 'journalpage' journal %}">
                                                {{journal.title}}
                                            </a>
                                        </li>
                               {% endfor %}
        </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
          Physical Sciences
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <ul class="list-group list-group-flush card-body">
               {% for journal in physical_sciences %}
                    <li class="list-group-item">
                        <a href="{% url 'journalpage' journal %}">
                            {{journal.title}}
                        </a>
                    </li>
               {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% endblock content %}