{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>

.body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

}

.container {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: auto;

}



.menu {
    margin-top: -130px;
    text-align: left;
    color: white;
    line-height: 8px;
    cursor: pointer;

}

menu p {
    padding: 0px;

}
.profile-picture img {
    border-radius: 100%;
    margin-top: -60px;
    border: solid;
    border-width: 4px;
    border-color: white;
}


.name {
    text-transform: uppercase;
    font-size: 5em;
}

.location {
    color: gray;
    margin: -10px;
}

.bio p {
    padding: 10px;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;

}

.stats p {
    color: gray;
    font-size: 12px;
    margin-bottom: -15px;
    text-transform: uppercase;
}

.followers {
    padding-right: 60px;
}


.following {
    padding-right: 60px;
}

.topics {
    padding-right: 60px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 30px 50px;

}

.message-me {
    position: relative;
    padding: 18px 10px 18px 10px;
    margin-top: 20px;
    border: solid #ff2d55 1px;
    border-radius: 50px;
    background-color: #ff2d55;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    color: white;
    font-size: 12px;
}
.follow-me {
    width: 50%;
    position: relative;
    padding: 18px 10px 18px 10px;
    margin-top: 20px;
    border: solid gray 1px;
    border-radius: 50px;
    background-color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    color: rgb(49, 49, 49);
    font-size: 12px;
    margin-left: 5px;
}

.message-me:hover {
    background-color: #ffffff;
    color: rgb(54, 54, 54);
}
.follow-me:hover {
    background-color: #408afa;
    color: rgb(255, 255, 255);
    border-color: #408afa;
}

@media (min-width: 600px) {

    .container {
        border-radius: 2px;
        box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);
    }

    .container-head {
        border-radius: 2px;
    }

    .buttons {
        margin-bottom: 40px;
    }


}


    </style>

<div class="container">
    <div class="container-head">
    </div>
    <div class="container-body">
        <div class="name">
        </div>
        <div class="name">
            {{profile.user}}
        </div>

        <div class="location" style="padding: 30px; font-size: 3em;">
            {{ profile.institute }}
        </div>

        <div class="bio" style="padding: 30px; font-size: 3em;">
            {{profile.discipline}}
        </div>



        {% if profile.role == "author" %}

            <div class="buttons">
            <a href="{% url 'submission' profile %}" ><button class="message-me">New Submission</button></a>
            </div>

            <div class="location">
                <p>SUBMISSIONS PENDING</p>
            </div>
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">STATUS</th>
                  <th scope="col">RESUBMISSIONS REMAINING</th>
                  <th scope="col">TITLE</th>
                  <th scope="col">JOURNAL</th>
                  <th scope="col">REVIEWER 1</th>
                  <th scope="col">REVIEWER 2</th>
                  <th scope="col">REVIEWER 3</th>
                  <th scope="col">Feedback</th>
                </tr>
              </thead>
              <tbody>

              <!-- Display all the submission list in a table to view their status                -->
                {% for submission in submissionLISTreviewing %}
                    <tr>
                      <td style="color: red;">IN REVIEW</td>
                      <td>{{ submission.resubmissions_remaining }}</td>
                      <td>{{ submission.title }}</td>
                      <td>{{ submission.journal }}</td>
                      <td>{{ submission.reviewer1 }}</td>
                      <td>{{ submission.reviewer2 }}</td>
                      <td>{{ submission.reviewer3 }}</td>
                        {% if submission.feedbackReady %}
                            <td><a href="{% url 'feedback' submission %}">
                            <button type="button" class="message-me">FEEDBACK</button>
                          </a></td>
                        {% else %}
                            <td>No feedback yet</td>
                        {% endif %}

                    </tr>
                {% endfor %}
              </tbody>
            </table>

            <div class="location" style="padding-top: 5%;">
                <p>SUBMISSIONS FINISHED</p>
            </div>
            <table class="table table-light">
              <thead>
                <tr>
                  <th scope="col">STATUS</th>
                  <th scope="col">TITLE</th>
                  <th scope="col">JOURNAL</th>
                </tr>
              </thead>
              <tbody>

              <!-- Display all the submission list in a table to view their status                -->
                {% for submission in submissionLISTdone %}
                    <tr>
                    {% if submission.rejected %}
                       <td style="color: red;">REJECTED</td>
                    {% else %}
                        <td style="color: lightgreen;">ACCEPTED</td>
                    {% endif %}

                      <td>{{ submission.title }}</td>
                      <td>{{ submission.journal }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        {% endif %}

        {% if profile.role == "editor" %}
            {% if hasJournal %}
                <p>Great, you've made a journal. Here are your current submissions you should send to reviewers.</p>


                <div class="location">
                    <h5>PLEASE CONFIRM</h5>
                </div>

                {% if toApprove %}
                      <!-- Display all the submissions the editor must confirm           -->
                    <p>Reviewers the author selected: (you may override this)</p>
                    <!-- Add form for editor           -->
                    {% crispy approveForm %}
                    <hr>
                {% endif %}



                <div class="location" style="padding-top: 8%">
                    <p>SUBMISSIONS CONFIRMED</p>
                </div>
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">STATUS</th>
                      <th scope="col">AUTHOR</th>
                      <th scope="col">RESUBMISSIONS REMAINING</th>
                      <th scope="col">TITLE</th>
                      <th scope="col">JOURNAL</th>
                      <th scope="col">REVIEWER 1</th>
                      <th scope="col">REVIEWER 2</th>
                      <th scope="col">REVIEWER 3</th>
                    </tr>
                  </thead>
                  <tbody>

                  <!-- Display all the submission list in a table to view their status                -->
                    {% for submission in statusOfApproved %}
                        <tr>
                            {% if submission.inReview %}
                               <td style="color: lightblue;">IN REVIEW</td>
                            {% elif submission.rejected %}
                                <td style="color: red;">REJECTED</td>
                            {% else %}
                                <td style="color: lightgreen;">ACCEPTED</td>
                            {% endif %}
                            <td>{{ submission.author }}</td>
                            <td>{{ submission.resubmissions_remaining }}</td>
                            <td>{{ submission.title }}</td>
                            <td>{{ submission.journal }}</td>
                            <td>{{ submission.reviewer1 }}</td>
                            <td>{{ submission.reviewer2 }}</td>
                            <td>{{ submission.reviewer3 }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            {% else %}
                <div style="text-align: center; padding-top: 5%; padding-left: 20%; padding-right: 20%;">
                    <!-- Form goes here -->
                    <h2>NEW Journal</h2>
                    {% crispy journalForm %}
                </div>
            {% endif %}
        {% endif %}


        {% if profile.role == "reviewer" %}
            <hr>
            {% if hasReview %}
                <p style="padding-top: 5%;">Here is a paper that has been requested by the editor for you to review.
                    Please fill out and submit
                this form.</p>

                <p style="padding-top: 7%;">JOURNAL</p>
                <h3 style="padding-top: 3%;">{{ toReview.journal }}</h3>

                <p style="padding-top: 7%;">TITLE</p>
                <h3 style="padding-top: 3%;">{{ toReview.title }}</h3>


                <h3 style="padding-top: 5%;">FILE: <a href="{{ toReview.file.url }}">{{ toReview.file }}</a></h3>
                <hr>
                {% crispy reviewer_form %}
            {% else %}
                <h3>All caught up on your reviews! Please check back later.</h3>
            {% endif %}
        {% endif %}
    </div>
</div>



{% endblock content %}